/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 130, 0.8)),url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    position: relative;
}
.logo-box{
    /* 定位相對於父元素的位置 */
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo{
    height: 35px;
}
.text-box{
    position: absolute;
    /* 這邊移動的位置是以整個block的最左邊緣調整，但希望以最中間的地方調整*/
    top: 40%;
    left: 50%;
    /* 這邊要用方法校正*/
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading-primary{
    color: #fff;
    text-transform: uppercase;

    /*不會有震盪的效果*/
    backface-visibility: hidden;
    margin-bottom: 60px;
}
.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 3s;
    /* 快結束時會特別慢*/
    animation-timing-function: ease-out;

    /* 三秒後執行。執行三次
    animation-delay: 3s;
    animation-iteration-count: 3; 
    */
}
.heading-primary-sub{
    /* 代表一個區塊，可以完美呈現換行 */
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px;

    animation-name: moveInRight;
    animation-duration: 3s;
    /* 快結束時會特別慢*/
    animation-timing-function: ease-in;
}

@keyframes moveInLeft{
    0%{
        /*透明化 直接透明 translateX：-100 左往右*/
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(20px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight{
    0%{
        /*透明化 直接透明 -100:左往右*/
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-20px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom{
    0%{
        /*透明化 直接透明 -100:左往右*/
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
/*pesudo class當某種狀態達成時 換轉換成該css的style。如按下按鈕換別的css*/
.btn, .btn:link, .btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px ;
    display: inline-block;
    border-radius: 100px;
    transition: all, -2s;
    position: relative;
    
}
/*滑鼠移動過去時*/
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
/*按下之後*/
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

}   
.btn-white{
    background-color: #fff;
    color: #777;
}

/* ::after：在 originating 元素的內容之後建立的 child pseudo-element */
.btn::after{
    /* 一定要有的屬性 content */
    content: ""; 
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    /* 使該元素在最下面 */
    z-index: -1;
    transition: all .4s;
}
.btn-white::after{
    background-color: #fff;
}
.btn:hover::after{
    /* 貌似是事件一定會放的屬性，直接擴大好幾倍的意思，可以調整XY軸調整大小不同 */
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}

.btn-animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}